#three-container {
  width: 100%;
  max-width: 900px;
  height: 900px;
  position: relative;
  margin: auto;
  justify-content:center;
  align-items:center;
}

@media (max-width: 600px) {
  #three-container {
    max-width: 200px;
    height: 200px;
  }
}

@media (max-width: 400px) {
  #three-container {
    max-width: 250px;
    height: 250px;
  }
}
